.list-group.mb-4
  a.list-group-item.list-group-item-action(href="/settings/general" class=(path==='/settings/general'?'active':'')) General
  a.list-group-item.list-group-item-action(href="/settings/business" class=(path==='/settings/business'?'active':'')) Business Logic
  a.list-group-item.list-group-item-action(href="/settings/booking" class=(path==='/settings/booking'?'active':'')) Booking Page
  a.list-group-item.list-group-item-action(href="/settings/payments" class=(path==='/settings/payments'?'active':'')) Payments
  a.list-group-item.list-group-item-action(href="/settings/coupons" class=(path==='/settings/coupons'?'active':'')) Promo Codes
  a.list-group-item.list-group-item-action(href="/settings/notifications" class=(path==='/settings/notifications'?'active':'')) Notifications
  a.list-group-item.list-group-item-action(href="/settings/webhooks" class=(path==='/settings/webhooks'?'active':'')) Webhooks
  a.list-group-item.list-group-item-action(href="/settings/api" class=(path==='/settings/api'?'active':'')) API Access
