extends ../layout

block content
  .row
    .col-md-3
      include _menu
    
    
    .col-md-9
      .card.shadow-sm
        .card-header.bg-white
          h5.m-0 Booking Page Settings
        .card-body
          form(action="/settings/booking" method="POST")
            .mb-3
              label.form-label Primary Brand Color
              .d-flex.align-items-center.gap-3
                input.form-control.form-control-color(type="color" name="primary_color" value=settings.primary_color || '#4f46e5')
                span.text-muted Used for booking UI accents and buttons
            .mb-3
              .form-check.form-switch
                input.form-check-input(type="checkbox" name="hide_prices" value="1" checked=(settings.hide_prices==='1'))
                label.form-check-label Hide prices on the booking page
            .mb-4
              .form-check.form-switch
                input.form-check-input(type="checkbox" name="require_phone" value="1" checked=(settings.require_phone==='1'))
                label.form-check-label Require phone number when booking
            button.btn.btn-primary(type="submit") Save Settings
