extends ../layout

block content
  .row
    .col-md-3
      .list-group.mb-4
        a.list-group-item.list-group-item-action(href="/settings/general") General
        a.list-group-item.list-group-item-action.active(href="/settings/business") Business Logic
        a.list-group-item.list-group-item-action(href="/settings/booking") Booking Page
        a.list-group-item.list-group-item-action(href="/settings/payments") Payments
        a.list-group-item.list-group-item-action(href="/settings/api") API Access
    
    .col-md-9
      .card.shadow-sm
        .card-header.bg-white
          h5.m-0 Business Logic Settings
        .card-body
          form(action="/settings/business" method="POST")
            .row.g-3.mb-3
              .col-md-6
                label.form-label Default Working Hours Start
                input.form-control(type="time" name="working_hours_start" value=settings.working_hours_start || '09:00')
              .col-md-6
                label.form-label Default Working Hours End
                input.form-control(type="time" name="working_hours_end" value=settings.working_hours_end || '17:00')
            .mb-4
              .form-check.form-switch
                input.form-check-input(type="checkbox" name="display_any_provider" value="1" checked=(settings.display_any_provider==='1'))
                label.form-check-label Allow customers to select "Any Provider" during booking
            button.btn.btn-primary(type="submit") Save Settings
